<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="<%= dom_id(user) %>-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <i class="fa fa-cog"></i>
  </button>

  <ul class="dropdown-menu" aria-labelledby="<%= dom_id(user) %>-dropdown">
    <% if user.admin? %>
      <li>
        <% if user == current_user %>
          <%= link_to('#', disabled: true, class: 'disabled-link', title: "Can't disable admin on yourself.", data: { toggle: 'tooltip', placement: 'right' }) do %>
            <i class="fa fa-fw fa-user-times"></i> Disable Admin
          <% end %>
        <% else %>
          <%= link_to(disable_admin_admin_user_path(user), method: :patch, data: { confirm: 'Disable admin?' }) do %>
            <i class="fa fa-fw fa-user-times"></i> Disable Admin
          <% end %>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to(enable_admin_admin_user_path(user), method: :patch, data: { confirm: 'Enable admin?' }) do %>
          <i class="fa fa-fw fa-user-plus"></i> Enable Admin
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
