<% content_for(:navbar) do %>
  <li class="active">
    <%= link_to(admin_path) do %>
      <i class="fa fa-cogs"></i> Admin
    <% end %>
  </li>

  <li>
    <%= link_to('#add-user', data: { toggle: 'modal', target: '#new-user-modal' }) do %>
      <i class="fa fa-user-plus"></i> Add User
    <% end %>
  </li>
<% end %>

<%= render 'new_user_modal' %>

<div class="row">
  <div class="col-md-11">
    <p class="text-muted"><%= page_entries_info @users %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <td style="width: 1%;"></td>
          <td>Email</td>
          <td>Groups</td>
          <td>Comics</td>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= render 'actions', user: user %>
            </td>

            <td>
              <%= user.email %>

              <% if user == current_user %>
                <span class="label label-primary">Your Account</span>
              <% end %>

              <% if user.admin? %>
                <span class="label label-info">Admin</span>
              <% end %>
            </td>

            <td><%= user.groups.count %></td>
            <td><%= user.comics.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= paginate @users %>
  </div>
</div>
