<div id="<%= dom_id(comic) %>" class="col-sm-3 col-md-2">
  <div class="thumbnail">
    <%= link_to(thumb_or_placeholder_image_tag(comic.cover_image_thumb), read_comic_path(comic)) %>

    <div class="caption">
      <h4 class="truncate"><%= comic.pretty_filename %></h4>

      <div class="pull-right">
        <% if comic.read? %>
          <i class="text-success fa fa-2x fa-check"></i>
        <% elsif comic.reading? %>
          <i class="fa fa-2x fa-eye"></i>
        <% end %>
      </div>

      <div class="pull-left">
        <%= link_to(comic, class: 'btn btn-default') do %>
          <i class="fa fa-columns"></i>
        <% end %>

        <%= link_to("##{dom_id(comic, 'options')}", class: 'btn btn-default', data: { toggle: 'collapse' }) do %>
          <i class="fa fa-cog"></i>
        <% end %>
      </div>

      <div class="clearfix"></div>

      <div class="collapse" id="<%= dom_id(comic, 'options') %>" style="margin-top: 10px;">
        <%= form_tag(move_comic_path(comic), method: :put, remote: true) do %>
          <div class="form-group">
            <%= select_tag(:group_id, options_from_collection_for_select(@groups, :id, :name), prompt: 'Select Group', class: 'move-to-group form-control') %>
          </div>

          <div class="form-group">
            <%= submit_tag('Move', class: 'btn btn-primary', disabled: true) %>
            <%= link_to('Delete', comic, class: 'btn btn-danger', method: :delete, remote: true, data: { confirm: 'Delete comic?' }) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
