<div class="col-lg-2 col-md-3">
  <div class="card border-secondary">
    <h6 class="card-header">
      <%= group.name %>
    </h6>

    <%= link_to(group) do %>
      <%= image_tag(group.cover_image_thumb, class: 'card-img-top') %>
    <% end %>

    <div class="card-footer">
      <%= render 'card_dropdown', group: group %>
    </div>
  </div>
</div>

<%= render 'groups/modal', group: group %>
