<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="pull-left">
      <%= link_to('Remove Read Comics', delete_read_comics_path, method: :delete, class: 'manage-link hidden', data: { confirm: 'Remove all read comics?' }) %>
    </div>

    <div class="add-group hidden">
      <%= form_for(current_user.groups.new) do |f| %>
        <div class="form-group">
          <%= f.text_field :name %>
          <%= f.label :name, 'Group Name' %>
        </div>
      <% end %>
    </div>

    <div class="pull-right">
      <%= link_to('Manage Groups', '#!', id: 'manage-groups', data: { manage: false }) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="list-group">
      <% @groups.each do |group| %>
        <% if group.has_comics? %>
          <div class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to(group) do %>
                  <%= image_tag(group.comics.first.pages.first.image.url(:thumb), height: '70px', class: 'img-rounded') %>
                <% end %>
              </div>

              <div class="col-md-11">
                <div class="pull-right">
                  <%= link_to(delete_comics_group_path(group), method: :delete, class: 'manage-link hidden', data: { confirm: 'Remove all comics in this group?' }) do %>
                    <i class="text-warning fa fa-2x fa-minus-square-o"></i><% end %>

                  <%= link_to(group, method: :delete, class: 'manage-link hidden', remote: true, data: { confirm: 'Delete this group?' }) do %>
                    <i class="text-danger fa fa-2x fa-trash"></i><% end %>

                  <% if group.read? %>
                    <i class="text-success fa fa-2x fa-check"></i>
                  <% end %>
                </div>

                <div><%= link_to(group.name, group) %></div>
                <div><%= pluralize(group.comics.count, 'Comic') %></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
