<div class="row" style="margin-top: 5px; margin-bottom: 5px;">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="pull-left">
      <%= link_to('Remove Read Comics', delete_read_comics_path, method: :delete, class: 'manage-link hidden btn btn-sm btn-warning', data: { confirm: 'Remove all read comics?' }) %>
    </div>

    <div class="pull-right">
      <%= link_to('Manage Groups', '#!', id: 'manage-groups', class: 'btn btn-sm btn-default', data: { manage: false }) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="list-group">
      <div class="add-group list-group-item hidden">
        <%= form_for(current_user.groups.new) do |f| %>
          <div class="input-group">
            <%= f.text_field :name, class: 'form-control', placeholder: 'Add group...' %>
            <span class="input-group-btn">
              <%= f.button(nil, class: 'btn btn-primary') do %>
                <i class="fa fa-plus"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>

      <% @groups.each do |group| %>
        <% if group.has_comics? %>
          <%= render 'group', group: group %>
        <% else %>
          <%= render 'empty_group', group: group %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
