<ul class="collection with-header">
  <li class="collection-header">
    <div class="right-align">
      <%= link_to('Manage Groups', '#!', id: 'manage-groups', data: { manage: false }) %>
    </div>
  </li>

  <li class="collection-header add-group hide">
    <%= form_for(current_user.groups.new) do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :name %>
          <%= f.label :name, 'Group Name' %>
        </div>
      </div>
    <% end %>
  </li>

  <% @groups.each do |group| %>
    <% if group.has_comics? %>
      <li id="group-<%= group.id %>" class="collection-item avatar">
        <%= link_to(group) do %>
          <%= image_tag(group.comics.first.pages.first.image.url(:thumb), class: 'circle') %>
        <% end %>

        <span class="title"><%= link_to(group.name, group) %></span>
        <div>Comics: <%= group.comics.count %></div>

        <span class="secondary-content">
          <% if group.read? %>
            <i class="material-icons green-text">done</i>
          <% end %>

          <%= link_to(delete_comics_group_path(group), method: :delete, class: 'manage-link hide', data: { confirm: 'Remove all comics in this group?' }) do %>
            <i class="material-icons yellow-text text-darken-2">warning</i>
          <% end %>

          <%= link_to(group, method: :delete, class: 'manage-link hide', remote: true, data: { confirm: 'Delete this group?' }) do %>
            <i class="material-icons red-text text-lighten-1">delete</i>
          <% end %>
        </span>
      </li>
    <% else %>
      <%# Empty Groups. %>
      <li id="group-<%= group.id %>" class="empty-group hide collection-item avatar">
        <%= image_tag('placeholder.png', class: 'circle') %>

        <span class="title"><%= group.name %></span>
        <div></div>

        <span class="secondary-content">
          <%= link_to(group, method: :delete, remote: true, data: { confirm: 'Delete this group?' }) do %>
            <i class="material-icons red-text text-lighten-1">delete</i>
          <% end %>
        </span>
      </li>
    <% end %>
  <% end %>
</ul>
