<% content_for(:navbar) do %>
  <li class="active"><%= link_to(@group.name, @group) %></li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-cog"></i> Manage <span class="caret"></span>
    </a>

    <ul class="dropdown-menu">
      <li>
        <%= link_to(new_comic_path(group_id: @group.id)) do %>
          <i class="fa fa-fw fa-cloud-upload"></i> Upload Comic
        <% end %>
      </li>

      <li>
        <%= link_to('#edit-group', data: { toggle: 'modal', target: "#edit-#{dom_id(@group)}-modal" }) do %>
          <i class="fa fa-fw fa-pencil"></i> Edit Group
        <% end %>
      </li>

      <li class="divider"></li>

      <li>
        <%= link_to(delete_read_group_path(@group), method: :delete, data: { confirm: 'Remove all read comics?' }) do %>
          <i class="fa fa-fw fa-eye-slash"></i> Remove Read Comics
        <% end %>
      </li>

      <li>
        <%= link_to(delete_comics_group_path(@group), method: :delete, data: { confirm: 'Remove all comics in this group?' }) do %>
          <i class="fa fa-fw fa-ban"></i> Remove All Comics
        <% end %>
      </li>

      <li class="divider"></li>

      <li>
        <%= link_to(@group, method: :delete, data: { confirm: 'Delete this group?' }) do %>
          <i class="fa fa-fw fa-trash"></i> Delete Group
        <% end %>
      </li>
    </ul>
  </li>
<% end %>

<% if @comics.present? %>
  <% @comics.each_slice(4) do |row| %>
    <div class="row">
      <% row.each do |comic| %>
        <%= render 'comic', comic: comic %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well well-lg text-center">
        <h1 class="text-muted">No Comics</h1>

        <p>
          <%= link_to(new_comic_path(group_id: @group.id), class: 'btn btn-default btn-lg') do %>
            <i class="fa fa-cloud-upload"></i> Upload Some!
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<%= render 'modal', group: @group %>
