<%= form_tag(comics_path, id: 'comic_upload', multipart: true) do %>
  <input type="hidden" name="group_id" id="comic_group_id" value="<%= params[:group_id] %>" />
  <input type="hidden" name="group_name" id="comic_group_name" value="<%= params[:group_name] %>" />
<% end %>

<% if @groups.empty? %>
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div class="well well-lg text-center">
        <h1 class="text-muted">No Groups</h1>

        <p>Create a group with the <i class="fa fa-plus"></i> button, then add some comics.</p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-5 col-md-offset-3">
    <div class="input-group">
      <select class="form-control" id="select_group">
        <% if params[:group_name].present? %>
          <option value="">Group...</option>
          <option value="<%= params[:group_name] %>" selected><%= params[:group_name] %></option>
        <% else %>
          <option value="" selected>Group...</option>
        <% end %>

        <%= options_from_collection_for_select(@groups, :id, :name, params[:group_id]) %>
      </select>

      <span class="input-group-btn">
        <%= link_to('#add-group', class: 'btn btn-default', data: { toggle: 'modal', target: '#new-group-modal' }) do %>
          <i class="fa fa-plus"></i>
        <% end %>
      </span>
    </div>
  </div>
</div>

<div id="actions" class="row">
  <div class="col-md-5 col-md-offset-3">
    <!-- The fileinput-button span is used to style the file input field as button -->
    <%= content_tag(:button, class: 'btn btn-success fileinput-button', disabled: (@groups.empty? ? true : false)) do %>
      <i class="fa fa-plus"></i>
      <span>Add Comics</span>
    <% end %>

    <button type="submit" class="btn btn-primary start" disabled="disabled">
      <i class="fa fa-cloud-upload"></i>
      <span>Start All</span>
    </button>

    <%= content_tag(:button, type: 'reset', class: 'btn btn-default cancel', disabled: (@groups.empty? ? true : false)) do %>
      <i class="fa fa-ban"></i>
      <span>Cancel All</span>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-3">
    <!-- The global file processing state -->
    <span class="fileupload-process">
      <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
      </div>
    </span>
  </div>
</div>

<%= render 'upload_preview' %>
<%= render 'new_group_modal' %>
