<div class="row">
  <% @comic.each do |comic| %>
    <div class="col s3">
      <div class="card small">
        <div class="card-image">
          <%= image_tag(comic.pages.first.image.url) %>
        </div>

        <div class="card-content">
          <span class="card-title">
            <%= comic.title %> #<%= comic.issue %>
          </span>

          <div><em><%= comic.cover_date %></em></div>
        </div>

        <div class="card-action">
          <%= link_to('Read', comic) %>
          <%= link_to('Edit', edit_comic_path(comic)) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
