<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to(root_path, class: 'navbar-brand') do %>
      <i class="bi bi-journals"></i> Comics
    <% end %>

    <% if content_for?(:navbar) %>
      <div class="navbar-nav me-auto">
        <%= content_for(:navbar) %>
      </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#app-nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="app-nav">
      <!-- Spacer that pushes the navbar-nav to the right. -->
      <div class="me-auto"></div>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <i class="bi bi-person"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <%= link_to(history_path, class: 'dropdown-item') do %>
                <i class="bi bi-graph-up"></i> History
              <% end %>
            </li>

            <li>
              <%= link_to(stats_path, class: 'dropdown-item') do %>
                <i class="bi bi-bar-chart"></i> Stats
              <% end %>
            </li>

            <% if current_user.try(:admin) %>
              <li class="dropdown-divider"></li>

              <li>
                <%= link_to(admin_path, class: 'dropdown-item') do %>
                  <i class="bi bi-gear"></i> Admin
                <% end %>
              </li>
            <% end %>

            <li class="dropdown-divider"></li>

            <li>
              <%= link_to(logout_path, class: 'dropdown-item', data: { turbo_method: :delete }) do %>
                <i class="bi bi-box-arrow-left"></i> Sign Out
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
