<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-nav" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to(root_path, class: 'navbar-brand') do %>
        <i class="fa fa-lg fa-book"></i> Comics
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="app-nav">
      <% if content_for?(:navbar) %>
        <ul class="nav navbar-nav">
          <li role="separator" class="divider"></li>
          <%= content_for(:navbar) %>
        </ul>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs hidden-sm">
          <%= link_to(new_comic_path) do %>
            <i class="fa fa-lg fa-cloud-upload"></i>
          <% end %>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-lg fa-user"></i>
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <li>
              <%= link_to(stats_path) do %>
                <i class="fa fa-fw fa-line-chart"></i> Stats
              <% end %>
            </li>

            <li class="divider"></li>

            <li>
              <%= link_to(destroy_user_session_path, method: :delete) do %>
                <i class="fa fa-fw fa-sign-out"></i> Sign Out
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
