<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul class="left">
        <li class="<%= @page.previous_page.present? ? 'waves-effect' : 'disabled' %>">
          <%= link_to(previous_page_comic_page_path(@comic, @page), method: :put) do %>
            <i class="material-icons">chevron_left</i>
          <% end %>
        </li>

        <li>
          <%= link_to(root_path) do %>
            <i class="material-icons">view_carousel</i>
          <% end %>
        </li>

        <li>
          <%= link_to(@comic.filename, @comic) %>
        </li>
      </ul>

      <div class="brand-logo center">
        <%= @page.number %> / <%= @comic.pages.count %>
      </div>

      <ul class="right">
        <li class="<%= @page.next_page.present? ? 'waves-effect' : 'disabled' %>">
          <%= link_to(finish_comic_path(@comic), method: :put, data: { confirm: 'Finished reading?' }) do %>
            <i class="material-icons">skip_next</i>
          <% end %>
        </li>

        <li class="<%= @page.next_page.present? ? 'waves-effect' : 'disabled' %>">
          <%= link_to(next_page_comic_page_path(@comic, @page), method: :put) do %>
            <i class="material-icons">chevron_right</i>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>
