<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-nav" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="app-nav">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <% if @page.previous_page.present? %>
            <%= link_to(previous_page_comic_page_path(@comic, @page), method: :put, id: 'previous_page') do %>
              <i class="fa fa-lg fa-chevron-left"></i>
              <span class="visible-xs-inline-block">Previous Page</span>
            <% end %>
          <% else %>
            <%= link_to(@comic.group) do %>
              <i class="fa fa-lg fa-chevron-left"></i>
              <span class="visible-xs-inline-block">View Group</span>
            <% end %>
          <% end %>
        </li>

        <li>
          <%= link_to(root_path) do %>
            <i class="fa fa-lg fa-book"></i>
            <span class="visible-xs-inline-block">Home</span>
          <% end %>
        </li>

        <%# FIXME: The filename should be truncated. %>
        <li><%= link_to(@comic.group.name, @comic.group) %></li>
        <li><%= link_to(@comic.pretty_filename, @comic) %></li>
      </ul>

      <p class="navbar-text"><%= @page.number %> / <%= @comic.pages.count %></p>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to(finish_comic_path(@comic), method: :put, data: { confirm: 'Finished reading?' }) do %>
            <i class="fa fa-lg fa-step-forward"></i>
            <span class="visible-xs-inline-block">Finish Comic</span>
          <% end %>
        </li>

        <li>
          <%= link_to(next_page_comic_page_path(@comic, @page), method: :put, id: 'next_page') do %>
            <i class="fa fa-lg fa-chevron-right"></i>
            <span class="visible-xs-inline-block">Next Page</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
