<div class="center-align">
  <%= image_tag(@page.image.url(:viewer)) %>
</div>

<div class="center-align">
  <ul class="pagination">
    <li class="<%= @page.previous_page.present? ? 'waves-effect' : 'disabled' %>">
      <%= link_to(previous_page_comic_page_path(@comic, @page), method: :put) do %>
        <i class="material-icons">chevron_left</i>
      <% end %>
    </li>

    <li>
      <%= @page.number %> / <%= @comic.pages.count %>
    </li>

    <li class="<%= @page.next_page.present? ? 'waves-effect' : 'disabled' %>">
      <%# TODO: Link to next comic if on last page. %>
      <%= link_to(next_page_comic_page_path(@comic, @page), method: :put) do %>
        <i class="material-icons">chevron_right</i>
      <% end %>
    </li>
  </ul>
</div>
