<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Create Admin User</h3>
      </div>

      <div class="panel-body">
        <p class="text-muted">
          Create an initial admin user. This user can upload and manage comics like any normal user.
        </p>


        <%= form_for(@user, url: setup_path) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, placeholder: 'user@example.com', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, 'Confirm Password' %>
            <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.submit 'Create', class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
