<% content_for(:navbar) do %>
  <li class="active">
    <%= link_to(stats_path) do %>
      <i class="fa fa-bar-chart"></i> Stats
    <% end %>
  </li>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="list-group">
      <div class="list-group-item">
        <strong>Total</strong>
        <span class="pull-right"><%= number_to_human_size(@total_size) %></span>
      </div>

      <% @groups.each do |group| %>
        <div class="list-group-item">
          <%= link_to(group.name, group) %> / <%= pluralize(group.comics.count, 'Comic') %>
          <span class="pull-right"><%= number_to_human_size(group.disk_size) %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
