<!DOCTYPE html>
<html>
  <head>
    <title>Comics</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/navbar' %>
    <% elsif current_page?(setup_path) %>
      <%= render 'shared/setup_navbar' %>
    <% end %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
