<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Comics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/messages' %>

    <% if logged_in? %>
      <%= render 'shared/navbar' %>
    <% elsif current_page?(setup_path) %>
      <%= render 'shared/setup_navbar' %>
    <% end %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
